<h1>Welcome to Beer Tracker </h1>

<h2>Please Log In Below:</h2>

<form method="POST" action="/login">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <br></br>

  <label for="password">Password: </label>
  <input type="password" name="password">
</form>
