<h1>New Experience</h1>
<h2>Having a Drink? Keep track of it by creating a new experience.  </h2>
<br>




<% if locals.empty? %>
  <form method="POST" action="/experiences/new/brewery">
    <h4>Begin by selecting your beer's brewery from the list</h4>
    <select name="brewery_id">
        <option value="">None</option>
      <% Brewery.all.order(:name).each do |brewery|%>
        <option value="<%=brewery.id%>"><%=brewery.name%></option>
      <% end %>
    </select>
    <br></br>


    <button type="submit">Continue</button>
  </form>
<% end %>
